.container{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 300px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(0.1, 0.1, 0.1, 0.4);
}

body{
    background-image: url("https://images.pexels.com/photos/1402787/pexels-photo-1402787.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.btn:first-child{
    margin-top: 10px;
}
h1{
    text-align: center;
    color: white;
    position: relative;
    top: 130px;
}

.returnHome{
    display: inline-block;
    float: left;
    margin: 20px;
    color: white;
    font-size: 50px;
}

.logoutbtn{
    display: inline-block;
    float: right;
    margin: 20px;
    color: white;
    font-size: 50px;
}